@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: #ffffff;
}

html {
  scroll-behavior: smooth;
}
